@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 5ra00;
}

body{
    justify-self: center;
    background-color: rgb(95, 180, 90);
}

.container{
    width: 25vh;
    height: 33vh;
    margin-top: 120%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.input-1{
    margin-top: 5px;
    width: 170px;
}

textarea{
    width: 170px;
}

h1{
    font-size: 130%;
    margin-bottom: 10px;
}

button{
    width: 160px;
    height: 25px;
    border-radius: 15px;
    background: rgb(95, 180, 90);
    letter-spacing: 2px;
    border: none;
}