body {
    background: #ffbfbf;
    text-align: center;
}

table {
    width: 20%;
    margin-left: 38%;
    margin-top: 20%;
    border-style: none;
    border-collapse: collapse;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


thead {
    background-color: rgb(1, 152, 122);
    color: white;
    border: 1px rgb(255, 0, 0);
    border-radius: 15px;
}

table tbody tr:nth-child(1) {
    background-color: rgb(255, 255, 255);
}

table tbody tr:nth-child(2) {
    background-color: rgb(255, 255, 255);
}

table tbody tr:nth-child(3) {
    background-color: rgb(255, 255, 255);
}

table tbody tr:hover {
    background-color: rgb(243, 243, 243);
    ;
}